@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Mixins
%imgeffect {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  
  %hoverimgeffect {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

// Menu
header nav {
    ul {
        @apply lg:flex justify-end flex-1 items-center;

        li {
            @apply mr-3;

            a {
                @apply inline-block py-2 px-4 text-black font-bold no-underline;
            }
        }
    }
}

.wp-block-contact-form-7-contact-form-selector {
  display: none;
}

.home {
  .wp-block-contact-form-7-contact-form-selector {
    @apply container mx-auto flex;

    display: block;

    label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300;
    }

    input,
    textarea {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    .wpcf7-submit {
        @apply text-white bg-pros90blue hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    }

    .wpcf7-response-output {
        @apply bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3;
    }
}
}

.article-posts {
    img {
        @extend %imgeffect;
      }
  
      &:hover img {
        @extend %hoverimgeffect;
      }
}

.comments,
.wpcf7-form {
  textarea {
    @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full xl:w-2/4 sm:text-sm border border-gray-300 rounded-md;
  }

  .comment-form-author,
  .comment-form-email,
  .wpcf7-form-control-wrap {
    input {
      @apply mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full xl:w-2/4 shadow-sm sm:text-sm border-gray-300 rounded-md;
    }
  }
}

.btn,
.wpcf7-submit {
  @apply bg-blue-500 hover:bg-blue-700 hover:cursor-pointer text-white font-bold py-2 px-4 rounded;

}

// video inside block

figure.wp-block-video {
  @apply xl:w-3/5;
  
}

// display none para primeira ocorrencia do plugin social share
p.dpsp-share-text:first-of-type {
  display: none;
}

@media print {

  header nav,
  .dpsp-share-text,
  #dpsp-content-bottom,
  form,
  footer {
    display: none;
  }

  h1 {
    margin-bottom: 0;
  }


  img {
    max-width: 500px;
  }


  @page {
    margin: 0.5cm;
  }

  @page :left {
    margin: 0.5cm;
  }

  @page :right {
    margin: 0.8cm;
  }

  @page :first {
    margin: 1cm 2cm;
  }

  
  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }

}